body {
  background-color: rgba(191, 224, 244, 0.599);
    font-family: Arial, sans-serif;
  }
  /* Add a black background color to the top navigation */
.topnav {
  background-color: rgba(52, 95, 122, 0.599);
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: rgba(16, 159, 248, 0.798);
  color: white;
}

h1 {
  font-size: xx-large;
  color: #109ff8cb;
  text-align: center;
  transition-duration: 10s;
}
h1:hover {
  transform: matrix3d();
}
  
  #container {
    
    max-width: 600px;
    margin: 0 auto;
   
  }
  
  #form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  #form input {
    height: 30px;
  }
  #cart {
    margin-bottom: 5px;
  }

  #food {
    display: flex;
    justify-content: space-between;
  }

#food div {
 text-align: center;
}

#food div input {
  width: 50px;
}

#errorDisplay {
  position: absolute;
  background: #fcc;
  color: red;
  display: flex;
  width: 400px;
  left: 50%;
  top: calc(1% + 5px);
  transform: translate(-50%, 0%);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25);
  user-select: none;
  padding: 20px;
  display: none;
}